html,
body {
    padding: 5px;
    margin: 5px;
    font-family: "Della Respira", serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    border: hidden;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

button:hover {
    background-color: cyan;
}

p {
    font-size: larger;
}
