html,
body {
    padding: 5px;
    margin: 5px;
    font-family: "Della Respira", serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    border: hidden;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    background-color: white;
    transition: 0s background-color;
}

button:hover {
    background-color: cyan;
    transition-delay: 100ms;
}

p {
    font-size: larger;
}

.avatar {
    height: 312px;
    width: 312px;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
    border: 1px solid white;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.bio {
    text-align: center;
    color: crimson;
}
